.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u9414-4
{
	font-family: montserrat-n4, sans-serif;
}

#u9444-3,#u9431.MuseMenuActive #u9434-4 p,#u9434-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9419.MuseMenuActive #u9420-4 p,#u9420-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9426.MuseMenuActive #u9429-4 p,#u9429-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9440.MuseMenuActive #u9442-4 p,#u9442-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10172-4,#u10293-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

