.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u10115-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10114-3,#u10132.MuseMenuActive #u10133-4 p,#u10133-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10120.MuseMenuActive #u10122-4 p,#u10122-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10139.MuseMenuActive #u10141-4 p,#u10141-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10127.MuseMenuActive #u10128-4 p,#u10128-4
{
	font-family: open-sans-n3, sans-serif;
}


