.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u10935-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10905-3,#u10929.MuseMenuActive #u10930-4 p,#u10930-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10922.MuseMenuActive #u10925-4 p,#u10925-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10910.MuseMenuActive #u10911-4 p,#u10911-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10917.MuseMenuActive #u10920-4 p,#u10920-4
{
	font-family: open-sans-n3, sans-serif;
}


