.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u8983-4
{
	font-family: montserrat-n4, sans-serif;
}

#u9027-3,#u8995.MuseMenuActive #u8996-4 p,#u8996-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9016.MuseMenuActive #u9018-4 p,#u9018-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9002.MuseMenuActive #u9004-4 p,#u9004-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9301.MuseMenuActive #u9303-4 p,#u9303-4
{
	font-family: open-sans-n3, sans-serif;
}


