.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u8503-3,#u8515.MuseMenuActive #u8517-4 p,#u8517-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8644.MuseMenuActive #u8647-4 p,#u8647-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8936.MuseMenuActive #u8937-4 p,#u8937-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9261.MuseMenuActive #u9264-4 p,#u9264-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8533-4,#u9673-4,#u9679-4,#u9688-4
{
	font-family: montserrat-n4, sans-serif;
}

#u9676-14,#u9682-22,#u9685-8
{
	font-family: source-sans-pro-n4, sans-serif;
}

