.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u8671-4
{
	font-family: montserrat-n4, sans-serif;
}

#u8708-3,#u8695.MuseMenuActive #u8698-4 p,#u8698-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8676.MuseMenuActive #u8677-4 p,#u8677-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8957.MuseMenuActive #u8959-4 p,#u8959-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9282.MuseMenuActive #u9284-4 p,#u9284-4
{
	font-family: open-sans-n3, sans-serif;
}


