.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u9900-4
{
	font-family: montserrat-n4, sans-serif;
}

#u9930-3,#u9919.MuseMenuActive #u9922-4 p,#u9922-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9912.MuseMenuActive #u9915-4 p,#u9915-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9903.MuseMenuActive #u9906-4 p,#u9906-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9924.MuseMenuActive #u9926-4 p,#u9926-4
{
	font-family: open-sans-n3, sans-serif;
}


