.heading2
{
	font-family: source-sans-pro-n6, sans-serif;
}

.Paragraph-Style
{
	font-family: changa-one-n4, sans-serif;
}

.quote
{
	font-family: source-sans-pro-i4, sans-serif;
}

.bodytext,.heading3
{
	font-family: source-sans-pro-n3, sans-serif;
}

.heading1,.Testimonial-Names
{
	font-family: montserrat-n4, sans-serif;
}

#u10366-4
{
	font-family: montserrat-n4, sans-serif;
}

#u10396-3,#u10385.MuseMenuActive #u10388-4 p,#u10388-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10378.MuseMenuActive #u10381-4 p,#u10381-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10369.MuseMenuActive #u10372-4 p,#u10372-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10390.MuseMenuActive #u10392-4 p,#u10392-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10522-4,#u10549-4,#u10576-4,#u10603-4,#u10630-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

